@charset "UTF-8";


main{
  margin: 100px 0 ;
}
/* 상단 영역 */
.sub-visual {
  width: 100%;
  height: 540px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/about/building4-top-bg.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-attachment: fixed;
}

.visual-tit{
  font-size: 30px;
  font-weight: 500;
}
.visual-txt{
  font-size: 36px;
  font-weight: 300;
  margin-top: 10px;
}


/* 텍스트 공통 */
.sub-title{
  font-size: clamp(1.375rem, 1.8vw,1.75rem);
  color: var(--color-primary);
}
.title-area > h2{
  margin: 15px 0 80px;
}

/* ------------------------------- */


/* map */
.map-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map-text{
  width: 50%;
  margin-left: 7%;
  line-height: 1.6;
}
.sub-title{
  font-size: clamp(1.375rem, 1.8vw,1.75rem);
  color: var(--color-primary);
}
.title-area > h2{
  margin: 15px 0 40px;
}
.map-img{
  width: 60%;
  aspect-ratio: 1/1.1;
  background-image: url(../images/about/membership-map.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* destinations */

.destination-area{
  background-color: #F5F5F5;
}
.wrap-destination{
  width: 85%;
  margin: 0 auto;
  display: flex;
}
.wrap-destination > .title-area{
  width: 40%;
  padding-right: 10%;
  border: 1px solid red;
}

.wrap-destination > .desti-img-area{
  width: 60%;
  display: flex;
  border: 1px solid lime;
}