main{
  margin: 100px 0 ;
}
/* 상단 영역 */
.sub-visual {
  width: 100%;
  height: 540px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/experiences/corporate-top-bg.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.visual-tit{
  font-size: 30px;
  font-weight: 500;
}
.visual-txt{
  font-size: 36px;
  font-weight: 300;
  margin-top: 10px;
}

/* 상단 코퍼레이트 타이틀 */
.corporate-title{
  width: 85%;
  margin: 0 auto;
  padding: 100px 0;
}






/* 767이하 */
@media (max-width: 767px) {
  .sub-visual {
    height: 400px;
  }
  .corporate-title{     
    padding: 80px 20px;   
  }
}