@charset "UTF-8";

main{
  margin: 100px 0 0 ;
}
/* 상단 영역 */
.sub-visual {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/experiences/workation-top-bg.png');
}


/* 상단 설명부분 */
.workation-title{
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;      
  padding: 150px 20px;     
  position: relative;
}
.workation-title img {
  max-width: 400px;       
  margin-bottom: -60px;   
}
.workation-title > p {
  margin-top: 26px;
}
.inquiry-btn {
  display: inline-block;
  padding: 12px 60px;
  border: 1px solid var(--color-secondary);
  border-radius: 30px;     
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;  
  margin-top: 80px;  
}

.inquiry-btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-white)
}

.workation-contents-title{
  font-size: clamp(1.5rem, 2vw, 2.25rem);
  color: var(--color-main-text);
}


.place-wrap{
  width: 65%;
  margin: 0 auto;
}
.place-img-wrap{
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.place-contents{
  flex: 1;
}
.place-contents img{
  width: 100%;
}
.place-name{
  margin-top: 15px;
  color: #7d7d7d;
  font-weight: 500;
}

/* 하단 정보 배너 */
.bottom-banner{
  width: 100%;
  height: 350px;
  background-image: url(../images/experiences/workation-bnr-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-white);
  padding-left: 7%;
  padding-top: 60px;
  background-size: cover;
  margin-top: 100px;
}
.bottom-banner h3{
  font-size: clamp(1.35rem, 1.9vw, 1.75rem);
  font-weight: 500;
}
.bottom-banner p{
  font-size: clamp(1em, 1.6vw, 1.25rem);
  margin: 10px 0 90px;
  font-weight: 300;
  line-height: 1.4;
}
.bottom-banner .info{
  font-size: clamp(0.9375rem, 1.6vw, 1rem);
  font-weight: 300;
}
.bottom-banner .info b{
  font-weight: 500;
}
.bottom-banner .info a{
  color: var(--color-white);
}

/* 999이하 */
@media (max-width: 999px){
    /* 진행가능장소 */
  .place-wrap{
    width: 85%;
  }
}

/* 767이하 */
@media (max-width: 767px) {
  .sub-visual {
    height: 400px;
  }
  .workation-title{     
    padding: 80px 20px;   
  }
  .workation-title img { 
    max-width: 250px; 
    margin-bottom: -40px;   
  }
  .inquiry-btn { 
    margin-top: 50px;  
  }


  /* 진행가능장소 */
  .place-img-wrap{
    margin-top: 20px;
    flex-direction: column;
  }
  .place-contents img{
    border-radius: 10px;
  }
  .place-name{
    margin-top: 10px;
  }



    /* 하단배너 */
  .bottom-banner{
    width: 85%;
    margin: 50px auto 40px;
    border-radius: 10px;
    padding: 60px 5% 0;
    background-position: 70% 0;
  }
  .bottom-banner .info{
    padding-right: 15px;
    line-height: 1.6;
  }
}