@charset "UTF-8";


main{
  margin: 100px 0 0 ;
}
/* 상단 영역 */
.sub-visual {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/experiences/stay-top-bg.png');
}

/* 공통부분 --------------------- */
.contents-title{
  font-size: var(--fs-xl);
  color: var(--color-main-text);
  padding-bottom: 25px;
  border-bottom: 1px solid #7d7d7d;
}
.stay-title, .room-info-intro, .room-provision,  .dining{
  width: 85%;
  margin: 100px auto 0;
}
/* ------------------------ */
.stay-title{
  text-align: center;
}


.contents-wrap{
  margin-top: 100px;
}

/* 탭메뉴 */
.stay-tab-list{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
  text-align: center;
}
.stay-content {
  display: none;
}
.stay-content.active {
  display: block;
}
.stay-tab-item {
  cursor: pointer;
  padding: 10px 40px;
  color: #7d7d7d;
  font-size: var(--fs-xl);
}
.stay-tab-item.active {
  color: var(--color-secondary);
  font-weight: bold;
  border-bottom: 1px solid var(--color-secondary);
}
/* ------------------------------------------ */


.room-info-intro{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 7%;
}
.room-info-intro .img-area{
  width: 60%;
}
.room-info-intro .img-area img{
  width: 100%;
}
.room-info-intro .text-area{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro-title{
  font-size: var(--fs-xl);
}
.intro-desc{
  font-size: var(--fs-md);
}
.text-area .wrap-btn{
  text-align: right;
  display: flex;
  justify-content: right;
  gap: 10px;
}
.text-area .wrap-btn a{
  color: var(--color-secondary);
  border: 1.5px solid var(--color-secondary);
  padding: 5px 20px;
  display: block;
}


/* room-infomation */
.room-information{
  margin-top: 100px;
}
.room-detail-img{
  display: flex;
  gap: 10px;
  width: 100%;
}
.room-detail-img-mo{
  width: 85%;
  margin: 0 auto;
  display: none;
}
.room-detail-img-mo > img{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
.room-detail-img img{
  height: auto;      
  object-fit: cover;  
  min-width: 0;
}
.room-detail-img img:nth-child(1) {
  flex: 3;
}
.room-detail-img img:nth-child(2) {
  flex: 1.5;
}
.room-detail-img img:nth-child(3) {
  flex: 2;
}

.room-mo-detail-img{
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  display: none;

}
.room-mo-detail-img img{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.room-info-graphic{
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0;
  width: 85%;
}
.room-info-graphic li{
  flex: 1;
  position: relative; 
  text-align: center;
  align-items: center;
}
/* --- 세로 구분선 (마지막 아이템 제외) --- */
.room-info-graphic li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;          
  top: 50%;         
  transform: translateY(-50%); 
  width: 1px;         
  height: 60px;       
  background-color: #ddd;
}

.room-info-graphic li .contents-desc-sm{
  font-size: 13px;
  margin: 10px 0;
}
.room-info-graphic li .basic-desc{
  font-weight: 500;
}
.room-info-graphic img{
  width: 48px;
}



/* 비품 및 어메니티 */
.room-provision {
  padding: 20px 0;
}
.provision-row {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #ddd; 
}
.provision-label {
  width: 12%;
  font-weight: 600;
}
.provision-list {
  flex: 1;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  
  column-count: 5; 
  column-gap: 20px;
}

.provision-list li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 15px;
  break-inside: avoid; 
  color: #7d7d7d;
}

/* 리스트 앞의 작은 점 */
.provision-list li::before {
  content: '·';
  position: absolute;
  left: 0;
  font-weight: bold;
}


.dining{
  margin-top: 100px;
}
.wrap-dining-contents{
  margin-top: 30px;
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: flex-end;
}
.dining-img img{
  width: 100%;
}
.dining-img{
  flex: 2;
}
.dining-text-area{
  flex: 1.5;
}
.dining-text-area > h4{
  font-size: var(--fs-xl);
  margin-bottom: 10px;
}
.dining-text-area > p{
  font-size: var(--fs-md);
  margin-bottom: 20px;
  line-height: 1.5;
}



/* 멤버십 배너 */
.membership-banner{
  width: 100%;
  height: 350px;
  background-image: url(../images/experiences/membership-bnr-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-white);
  padding-left: 7%;
  padding-top: 60px;
  margin-top: 100px;
}
.membership-banner h3{
  font-size: clamp(1.35rem, 1.9vw, 1.75rem);
  font-weight: 500;
}
.membership-banner p{
  font-size: clamp(1em, 1.7vw, 1.25rem);
  margin: 5px 0 90px;
  font-weight: 300;
}
.membership-banner .info{
  font-size: clamp(0.9375rem, 1.6vw, 1rem);
  font-weight: 300;
}
.membership-banner .info b{
  font-weight: 500;
}
.membership-banner .info a{
  color: var(--color-white);
}



@media (max-width: 1279px) {
  .stay-tab-list{
    width: 85%;
    gap: 100px;
  }
  .stay-tab-item {
    padding: 7px ;
    font-size: var(--fs-lg);
  }
  .room-info-intro{
    display: block;
    padding: 0;
  }
  .room-info-intro .img-area{
    width: 100%;
  }
  .room-info-intro .img-area img{
    width: 100%;
  }
  .room-info-intro .text-area{
    width: 100%;
    margin-top: 20px;
  }
  .intro-title{
    font-size: var(--fs-lg);
  }
  .text-area .wrap-btn{
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
  }

  /* room-infomation */
.room-info-graphic{
    display: block;
  }
  .room-info-graphic li{
    display: flex;
    padding: 20px 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .wrap-room-info-text{
    margin-left: 10%;
  }
/* --- 세로 구분선 (마지막 아이템 제외) --- */
  .room-info-graphic li:not(:last-child)::after {
    display: none;
  }



  .provision-list li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 15px;
    break-inside: avoid; 
    color: #7d7d7d;
  }

}
@media (max-width: 900px){
  .sub-visual {
    height: 400px;
  }

  .stay-tab-list{
    width: 85%;
    gap: 40px;
  }
  .room-detail-img{
    display: none;
  }
  .room-detail-img-mo{
    display: block;
  }
  .room-mo-detail-img{
    display: flex;
  }


  /* 비품 및 어메니티 */
  .provision-row {
    display: block;
  }
  .provision-list {
    margin-top: 20px;
    column-count: 2; 
  }
  .provision-label {
    width: 100%;
  }


  /* 다이닝 */
  .wrap-dining-contents{
    display: block;
  }
  .dining-img img{
  /* width: 30%; */
    display: none;
  }

  .dining-text-area{
    margin-top: 30px;
  }


  /* 멤버십혜택 배너 */
  .membership-banner{
    width: 85%;
    margin: 70px auto 40px;
    border-radius: 10px;
    padding: 60px 5% 0;
    background-position: 70% 0;
  }
  .membership-banner .info{
    padding-right: 15px;
    line-height: 1.6;
  }
  .membership-banner .info b:last-child{
    /* margin-left: -10px; */
  }

}
