<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한국빌딩 통합 플랫폼 - THE LINK</title>

  <!-- css -->
  <link rel="preload" href="../static/assets/font/Pretendard-Regular.woff2" th:href="@{/assets/font/Pretendard-Regular.woff2}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../static/assets/font/Pretendard-Bold.woff2" th:href="@{/assets/font/Pretendard-Bold.woff2}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../static/css/about_membership.css" th:href="@{/css/about_membership.css}">
  <link rel="stylesheet" href="../static/assets/js/swiper-bundle.min.css" th:href="@{/assets/js/swiper-bundle.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>


  <script src="../static/assets/js/jquery-3.7.1.min.js" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
  <script src="../static/assets/js/swiper-element-bundle.min.js" th:src="@{/assets/js/swiper-element-bundle.min.js}"></script>
  <script src="../static/assets/js/gsap.min.js" th:src="@{/assets/js/gsap.min.js}"></script>
  <script src="../static/assets/js/ScrollTrigger.min.js" th:src="@{/assets/js/ScrollTrigger.min.js}"></script>
  <script src="../static/js/index.js" th:src="@{/js/index.js}" defer></script>
  <script src="../static/js/common.js" th:src="@{/js/common.js}" defer></script>
<body>
  
  <div data-include="fragments/header.html" th:replace="~{fragments/header :: header}"></div>

  <main>
    <section class="sub-visual">
      <div class="visual-content">
        <h1 class="visual-tit font-en">About us</h1>
        <p class="visual-txt">멤버십</p>
      </div>
    </section>

    <section class="map-area">
      <div class="map-text title-area">
        <b class="sub-title font-en">THE H CLUB</b>
        <h2>빌딩과 섬, 도심과 자연을 <br>잇는 단 하나의 멤버십</h2>
        <p>THE H CLUB 멤버십 서비스는 H가 관리 보존해 온 유무형의 자산을 한국빌딩 네트워크, THE H CLUB 멤버와 공유하고 연결하는 서비스입니다. THE H CLUB 멤버에게는 H가 가꾸어 온 각 지역의 인프라와일상의 질을 높이는 도심 서비스를 향유할 수 있는 특별한 권한이 주어집니다.</p>
      </div>
      <div class="map-img"></div>
    </section>

    <section class="destination-area">
      <div class="wrap-destination">
        <div class="title-area">
          <div class="wrap-text">
            <b class="sub-title font-en">H DESTINATIONS</b>
            <h2>빌딩을 넘어,<br>자연으로 이어지는 특권</h2>
            <p class="sub-desc">
              자산의 가치를 나누는 THE H CLUB의 특별한 혜택
            </p>
            <p class="common-desc">H의 안목으로 조성중인 전국 각지의 인프라는 THE H CLUB멤버가 언제든 마주할 수 있는 특별한 목적지가 됩니다.</p>

          </div>
        </div>
        <ul class="desti-img-area">
          <li class="sanghwawon-wrap">
            <div><img src="../static/images/about/membership-desti-sanghwawon.png" alt="상화원이미지" th:src="@{/images/about/membership-desti-sanghwawon.png}"></div>
            <ul class="desti-desc">
              <li class="left-txt">
                <h3>보령 죽도 상화원</h3>
                <p>한국의 전통미가 어우러진 비밀의 정원</p>
                <a href="">자세히보기 +</a>
              </li>
            </ul>
          </li>
          <li class="donggeomdo-wrap">
            <div>
              <img src="../static/images/about/membership-desti-donggeom.png" alt="상화원이미지" th:src="@{/images/about/membership-desti-donggeom.png}">
            </div>
            <ul class="desti-desc">
              <li class="left-txt">
                <h3>강화 동검도 한국빌라</h3>
                <p>한국의 전통미가 어우러진 비밀의 정원</p>
              </li>
              <li class="more-txt">
                <a href="">자세히보기 +</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    <section class="coming-soon">
      <div class="wrap-text">
        <b class="sub-title font-en">COMING SOON</b>
      </div>
      <ul class="wrap-island">
        <li class="anmyeon-hankook-buil">
          <p>안면도 한국빌라</p>
        </li>
        <li class="jeju-sanghwawon">
          <p>제주 상화원</p>
        </li>
        <li class="jodo-sanghwawon">
          <p>조도 상화원</p>
        </li>
      </ul>
    </section>

    <section class="h-members-benefits">
      <div class="wrap-text">
        <b class="sub-title font-en">H DESTINATIONS</b>
        <h2>혜택</h2>
      </div>
      <ul class="stay-benefit">
        <li class="stay-discount">
          <dl>
            <dt>상화원 & 동검도 객실 할인</dt>
            <dd>주중(월~목) 30%</dd>
            <dd>주말(금~토) 20%</dd>
            <dd class="notice">*2026년 운영기간 : 4월~11월</dd>
          </dl>
        </li>
      </ul>
    </section>
  </main>


  <div data-include="fragments/footer.html" th:replace="~{fragments/header :: footer}"></div>

    <script>
    window.addEventListener('DOMContentLoaded', () => {
      includeHTML(initCommonDesign);
    });
  </script>
</body>
</html>