<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한국빌딩 통합 플랫폼 - THE LINK H</title>


  <!-- css -->
  <link rel="preload" th:href="@{/assets/font/Pretendard-Regular.woff2}" href="/assets/font/Pretendard-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" th:href="@{/assets/font/Pretendard-Bold.woff2}" href="/assets/font/Pretendard-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css">
  <link rel="stylesheet"  th:href="@{/css/reservation/reserv_complete.css}" href="../static/css/cancel_complete.css">   
  <link rel="stylesheet" th:href="@{/css/reservation/reserv_common.css}" href="/css/reservation/reserv_common.css">   
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


  <!-- js -->
  <script th:src="@{/assets/js/jquery-3.7.1.min.js}" src="/assets/js/jquery-3.7.1.min.js"></script>
  <script th:src="@{/js/common.js}" src="../static/js/common.js" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
</head>

<body>
  <!-- header -->  
  <div data-include="fragments/header.html" th:replace="~{user/fragments/header :: header}"></div> 
  
  <main>
    <section class="completed-info">
      <h3 class="complete-message">아래 예약이 정상적으로 취소되었습니다.</h3>
      <div class="booking-info-card">
        <h3 class="contents-title">예약정보</h3>
        <div class="info-list-wrap">
          <dl class="info-item">
            <dt class="label-text">예약번호</dt>
            <dd class="booking-number basic-desc">20260304001123</dd>
          </dl>
          <dl class="info-item">
            <dt class="label-text">예약자명</dt>
            <dd class="booker-name basic-desc">김주영</dd>
          </dl>
          <dl class="info-item">
            <dt class="label-text">숙소명</dt>
            <dd class="hotel-name basic-desc">죽도 상화원 한국빌라</dd>
          </dl>
          <dl class="info-item">
            <dt class="label-text">체크인/체크아웃</dt>
            <dd class="check-in-out-date basic-desc">2026.03.04 - 2026.03.05 (1박 2일)</dd>
          </dl>
          <dl class="info-item">
            <dt class="label-text">객실</dt>
            <dd class="room-number basic-desc">201동</dd>
          </dl>
      </div>
      <div class="home-btn-wrap">
        <a th:href="@{/index}" href="index.html" class="home-btn">홈으로</a>
      </div>
    </section>
  </main>


  <!-- footer -->
  <div data-include="fragments/footer.html" th:replace="~{user/fragments/footer :: footer}"></div>
    

    <script>
    window.addEventListener('DOMContentLoaded', () => {
      includeHTML(initCommonDesign);
    });
  </script>

</body>
</html>