<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한국빌딩 네트워킹 서비스 플랫폼 - THE LINK H</title>
  
  <!-- css -->
  <link rel="preload" href="../static/assets/font/Pretendard-Regular.woff2" th:href="@{/assets/font/Pretendard-Regular.woff2}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../static/assets/font/Pretendard-Bold.woff2" th:href="@{/assets/font/Pretendard-Bold.woff2}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../static/css/contact_us.css" th:href="@{/css/contact_us.css}">

  <!-- js -->
  <script src="../static/assets/js/jquery-3.7.1.min.js" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
  <script src="../static/js/common.js" th:src="@{/js/common.js}" defer></script>
</head>
<body>
  <!-- header -->
  <div data-include="fragments/header.html" th:replace="~{fragments/header :: header}"></div>

  <main>
    <section class="contact-header sub-page-header">
      <ul class="wrap-bd-header">
        <li class="title-area">
          <h2 class="font-en">Contact Us</h2>
          <p>문의사항은 해당 부서로 연락 주시면 상세히 답변드리겠습니다.</p>
        </li>
      </ul>
    </section>

    <div class="container">
      <section class="info-section">
        <div class="category">빌딩별 안내</div>
        <div class="content-grid">
          <div class="info-item">
            <h4 class="item-title">청계 한국빌딩</h4>
            <span class="desc-text">관리사무소</span>
            <a href="tel:027259331" class="item-contact">☎ 02-725-9331</a><br>
            <a href="mailto:sgkh0@naver.com" class="item-contact"> ✉ sgkh0@naver.com</a>
            <span class="desc-text office">안내실</span>
            <a href="tel:027259164" class="item-contact">☎ 02-725-9164</a>
          </div>
          <div class="info-item">
            <h4 class="item-title">을지 한국빌딩</h4>
            <span class="desc-text">관리사무소</span>
            <a href="tel:027786790" class="item-contact">☎ 02-778-6790</a><br>
            <a href="mailto:pck9610@gmail.com" class="item-contact">✉ pck9610@gmail.com</a>
            <span class="desc-text office">안내실</span>
            <a href="tel:027786790" class="item-contact">☎ 02-778-6790</a>
          </div>
          <div class="info-item">
            <h4 class="item-title">소공 한국빌딩</h4>
            <span class="desc-text">관리사무소</span>
            <a href="tel:027555276" class="item-contact">☎ 02-755-5276</a><br>
            <a href="mailto:kimkh2581@naver.com" class="item-contact"> ✉ kimkh2581@naver.com</a>
            <span class="desc-text office">안내실</span>
            <a href="tel:027555276" class="item-contact">☎ 02-755-5276</a>
          </div>
          <div class="info-item">
            <h4 class="item-title">종로 한국빌딩</h4>
            <span class="desc-text">관리사무소</span>
            <a href="tel:023997500" class="item-contact">☎ 02-399-7500</a><br>
            <a href="mailto:odhj@xisnd.com" class="item-contact"> ✉ odhj@xisnd.com</a>
            <span class="desc-text office">안내실</span>
            <a href="tel:0212345678" class="item-contact">☎ 02-399-7502</a>
          </div>
        </div>
      </section>

      <hr class="divider">

      <section class="info-section">
        <div class="category">기타안내</div>
        <div class="content-grid">
          <div class="info-item">
            <h4 class="item-title">휴양시설 안내</h4>
            <span class="desc-text">상화원, 동검도 한국빌라 등 숙박, 각종행사 등 문의 및 예약</span>
            <a href="tel:0263775162" class="item-contact">☎ 02.6377.5162</a><br>
            <a href="tel:0263775254" class="item-contact">☎ 02.6377.5254</a>
            <p class="item-contact">✉ reservation@kci.co.kr</p>
          </div>
          <div class="info-item">
            <h4 class="item-title">멤버십 및 플랫폼 안내</h4>
            <a href="tel:0263775162" class="item-contact">☎ 02.6377.5162</a><br>
            <a href="tel:0263775254" class="item-contact">☎ 02.6377.5254</a>
            <p class="item-contact">✉ reservation@kci.co.kr</p>
          </div>
        </div>
      </section>
    </div>

  </main>



  <!-- footer -->
  <div data-include="fragments/footer.html" th:replace="~{fragments/footer :: footer}"></div>
    
    <script>
    window.addEventListener('DOMContentLoaded', () => {
      includeHTML(initCommonDesign);
    });
  </script>
</body>
</html>