<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한국빌딩 네트워킹 서비스 플랫폼 - THE LINK H</title>
  
  <!-- css -->
  <link rel="preload" href="../static/assets/font/Pretendard-Regular.woff2" th:href="@{/assets/font/Pretendard-Regular.woff2}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../static/assets/font/Pretendard-Bold.woff2" th:href="@{/assets/font/Pretendard-Bold.woff2}" as="font" type="font/woff2" crossorigin> 
  <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../static/css/destinations.css" th:href="@{/css/destinations.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />


  <!-- js -->
  <!-- <script src="../static/assets/js/swiper-element-bundle.min.js" th:src="@{/assets/js/swiper-element-bundle.min.js}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
  <script src="../static/assets/js/jquery-3.7.1.min.js" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
  <script src="../static/js/common.js" th:src="@{/js/common.js}" defer></script>
  <script src="../static/js/ui.js" th:src="@{/js/ui.js}" defer></script>
  <!-- Kakao Maps: buildings.html과 유사한 구조 -->
  <script type="text/javascript"
    src="/dapi.kakao.com/v2/maps/sdk.js?appkey=37d07f67361728518b6b8e883c9be25f">
  </script>
  <script>
    // 휴양지별 지도 보관용
    var destinationMaps = {};

    // selector: '#jukdo #map' 같은 CSS 셀렉터
    function createDestinationMap(selector, latitude, longitude, name) {
      if (!window.kakao || !window.kakao.maps) return;

      var container = document.querySelector(selector);
      if (!container) return;

      var center = new kakao.maps.LatLng(latitude, longitude);
      var map = new kakao.maps.Map(container, {
        center: center,
        level: 8,
      });

      // 처음 그릴 때 레이아웃 두 번 잡아줌
      if (map.relayout) {
        map.relayout();
        setTimeout(function () {
          if (map && map.relayout) map.relayout();
        }, 100);
      }

      // 공통 마커 (buildings.html과 동일 스타일)
      var imageSrc = '../static/images/buildings/marker_active.png';
      var imageSize = new kakao.maps.Size(41, 51);
      var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

      var marker = new kakao.maps.Marker({
        position: center,
        image: markerImage,
      });
      marker.setMap(map);

      // 마우스 오버 시 시설 이름 인포윈도우 표시 (name이 있을 때만)
      if (name) {
        var iwContent =
          '<div style="padding:6px 10px; font-size:13px; white-space:nowrap;">' +
          name +
          '</div>';
        var infowindow = new kakao.maps.InfoWindow({ content: iwContent });

        (function (markerInst, infowindowInst) {
          kakao.maps.event.addListener(markerInst, 'mouseover', function () {
            infowindowInst.open(map, markerInst);
          });
          kakao.maps.event.addListener(markerInst, 'mouseout', function () {
            infowindowInst.close();
          });
        })(marker, infowindow);
      }

      // 상화원과 상화헌은 같이 표시
      if (name == "죽도 상화원") {
        // 공통 마커 (buildings.html과 동일 스타일)
        var imageSrc = '../static/images/buildings/marker.png';
        var imageSize = new kakao.maps.Size(41, 51);
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        var center = new kakao.maps.LatLng(36.2485875, 126.5376328);        
        var marker = new kakao.maps.Marker({
          position: center,
          image: markerImage,
        });
        marker.setMap(map);
        var iwContent =
          '<div style="padding:6px 10px; font-size:13px; white-space:nowrap;">' +
          "죽도 상화헌" +
          '</div>';
        var infowindow = new kakao.maps.InfoWindow({ content: iwContent });

        (function (markerInst, infowindowInst) {
          kakao.maps.event.addListener(markerInst, 'mouseover', function () {
            infowindowInst.open(map, markerInst);
          });
          kakao.maps.event.addListener(markerInst, 'mouseout', function () {
            infowindowInst.close();
          });
        })(marker, infowindow);

      }


      destinationMaps[selector] = map;
    }
  </script>
</head>

<body>
  <!-- header -->
  <div data-include="fragments/header.html" th:replace="~{fragments/header :: header}"></div>

  <main>
    <section class="destination-header sub-page-header">
      <ul class="wrap-bd-header">
        <li class="title-area">
          <h2 class="font-en">DESTINATIONS</h2>
          <p>네 개의 도심을 지나 마주한 다섯 개의 섬, 당신의 계절이 머무는 바로 그곳입니다.</p>
        </li>
        <li class="tab-menu-container">
          <ul class="tab-wrapper">
            <li class="active" data-tab="jukdo">죽도</li>
            <li data-tab="donggeomdo">동검도</li>
            <li data-tab="anmyeondo">안면도</li>
            <li data-tab="jeju">제주도</li>
            <li data-tab="jodo">조도</li>
          </ul>
          <div class="tab-indicator"></div>
        </li>
      </ul>
    </section>

    
    <ul class="contents-area">
      <li id="jukdo" class="tab-content">
        <div class="destination-top">
          <div class="text-area">
            <h3 class="common-title">
              자연의 숨결 그대로 살리고, 조화를 숭상하는 한국식 전통정원 "상화원"
            </h3>
            <p class="common-desc">
              충남 보령 죽도에 위치한 "상화원"은 나무 한 그루, 돌 한 조각까지 소중히 여겨, 자연을 훼손하지 않고 조성된 한국식 전통정원입니다.<br>4월부터 11월까지 관람은 물론, 기업연수, 워케이션, 웨딩, 가족연회 등 고객이 원하는 특별한 순간을 자연이라는 가장 아름다운 배경 위에 그려냅니다.
            </p>
          </div>
          <div class="destination-main-img">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../static/images/destinations/sanghwawon-slide-img-01.png" th:src="@{/images/destinations/sanghwawon-slide-img-01.png}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../static/images/destinations/sanghwawon-slide-img-02.png" th:src="@{/images/destinations/sanghwawon-slide-img-02.png}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../static/images/destinations/sanghwawon-slide-img-03.png" th:src="@{/images/destinations/sanghwawon-slide-img-03.png}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../static/images/destinations/sanghwawon-slide-img-04.png" th:src="@{/images/destinations/sanghwawon-slide-img-04.png}" alt="">
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

        <div class="wrap-destination-info">
          <div class="wrap-table">
            <h3 class="row common-title">죽도 상화원</h3>
            <div class="info-table">
              <div class="row">
                <div class="label">위치</div>
                <div class="content">충청남도 보령시 남포면 남포방조제로 408-52 (2만평 규모)</div>
              </div>
              <div class="row">
                <div class="label">운영기간</div>
                <div class="content">4월~11월</div>
              </div>
              <div class="row">
                <div class="label">시설</div>
                <div class="content">
                  객실(상화원 한국빌라)<br>
                  한옥마을<br>
                  회랑(세계에서 가장 긴 2km 해변 산책길)<br>
                </div>
              </div>
              <!-- <div class="row no-label">
                <div class="content">한옥마을</div>
              </div>
              <div class="row no-label">
                <div class="content">회랑(세계에서 가장 긴 2km 해변 산책길)</div>
              </div> -->
              <div class="row">
                <div class="label">주변시설</div>
                <div class="content">상화헌 카페</div>
              </div>
              <div class="row">
                <div class="label">홈페이지</div>
                <a href="http://www.sanghwawon.com/" target="_blank" class="content">상화원 (www.sanghwawon.com)</a>
              </div>
            </div>
          </div>
          <div id="map"></div>
        </div>

        <div class="cafe-sanghwaheon">
          <div class="cafe-text">
            <img src="../static/images/destinations/cafe-typo.png" th:src="@{/images/destinations/cafe-typo.png}" alt="cafe타이포그라피">
            <h2>카페 "상화헌"</h2>
            <p>
              신비의 바닷길 무창포 해수욕장에 위치한 카페로 한옥의 고즈넉함과 무창포 바다가 한눈에 들어오는 "상화원" 여정 끝에 여운을 즐길 수 있는 여행의 마침표 같은 공간입니다.
            </p>
          </div>
          <div class="cafe-img-area">
            <img src="../static/images/destinations/cafe-img.png" th:src="@{/images/destinations/cafe-img.png}" alt="상화헌이미지">
          </div>
          <div class="info-table">
            <div class="row">
              <div class="label">위치</div>
              <div class="content">충청남도 보령시 웅천읍 열린바다2길 44</div>
            </div>
            <div class="row">
              <div class="label">운영기간</div>
              <div class="content">4월~11월 (금~일)</div>
            </div>
            <div class="row">
              <div class="label">기타</div>
              <div class="content">THE LINK H 멤버십 카드 제시시 할인</div>
            </div>
          </div>
        </div>

        <div class="wrap-memeber-benefit">
          <div class="benefits-contents">
            <div class="text-area">
              <h3 class="common-title">
                THE LINK H 멤버십 혜택
              </h3>
              <a href="join.html">멤버십 가입 &nbsp;&#62;</a>
            </div>

            <ul class="contents">
              <li class="benefit01 destination-benefit">
                <div class="destination-benefit-img-area">
                  <img src="../static/images/destinations/benefit-sanghwawon-01.png" th:src="@{/images/destinations/benefit-sanghwawon-01.png}" alt="상화원한국빌라">
                </div>
                <div class="destination-benefit-text-area">
                  <h3>휴양시설 할인</h3>
                  <p>◎ 객실 우대 할인</p>
                  <p class="sub-txt">
                    - 특별 회원가 제공 예정
                  </p>
                </div>
              </li>
              <li class="benefit02 destination-benefit">
                <div class="destination-benefit-img-area">
                  <img src="../static/images/destinations/benefit-sanghwawon-02.png" th:src="@{/images/destinations/benefit-sanghwawon-02.png}" alt="상화원웨딩대관">
                </div>
                <div class="destination-benefit-text-area">
                  <h3>대관료 할인</h3>
                  <p>◎ 각종 행사 우대 할인</p>
                  <p class="sub-txt">
                    - 행사 : 워크숍, 세미나, 워케이션 및 야외웨딩 등 각종 행사 대관료 30% 할인
                  </p>
                  <p class="sub-txt">
                    <!-- - 관람 : 상화원 관람 (금~일, 공휴일) 관람료 00% 할인 -->
                  </p>
                </div>
              </li>
              <li class="benefit03 destination-benefit">
                <div class="destination-benefit-img-area">
                  <img src="../static/images/destinations/benefit-sanghwawon-03.png" th:src="@{/images/destinations/benefit-sanghwawon-03.png}" alt="f&b이미지">
                </div>
                <div class="destination-benefit-text-area">
                  <h3>카페 "상화헌" 할인</h3>
                  <p>식음료 특별 회원가 제공 예정</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>


      <li id="donggeomdo" class="tab-content">
        <div class="destination-top">
          <div class="text-area">
            <h3 class="common-title">
              서울 근교, 고즈넉한 힐링 스팟
            </h3>
            <p class="common-desc">
              인천 강화군 동검도, 섬 끝자락에 위치한 동검도 한국빌라는 시시각각 변하는 서해 풍경을 배경삼아 숙박, 워크숍, 워케이션을 즐기실 수 있습니다.
            </p>
          </div>
          <div class="destination-main-img">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../static/images/destinations/donggeom-slide-img-01.png" th:src="@{/images/destinations/donggeom-slide-img-01.png}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../static/images/destinations/donggeom-slide-img-02.png" th:src="@{/images/destinations/donggeom-slide-img-02.png}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../static/images/destinations/donggeom-slide-img-03.png" th:src="@{/images/destinations/donggeom-slide-img-03.png}" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="../static/images/destinations/donggeom-slide-img-04.png" th:src="@{/images/destinations/donggeom-slide-img-04.png}" alt="">
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

        <div class="wrap-destination-info">
          <div class="wrap-table">
            <h3 class="row common-title">동검도 한국빌라</h3>
            <div class="info-table">
              <div class="row">
                <div class="label">위치</div>
                <div class="content">인천 강화군 길상면 동검길65번길 174-1</div>
              </div>
              <div class="row">
                <div class="label">운영기간</div>
                <div class="content">4월~11월</div>
              </div>
              <div class="row">
                <div class="label">시설</div>
                <div class="content">
                  객실 (동검도 한국빌라)<br>
                  바비큐장<br>
                  야외 수영장<br>
                  세미나실
                </div>
              </div>
              <div class="row">
                <div class="label">홈페이지</div>
                <a href="https://dg.hankookvilla.co.kr" target="_blank" class="content">동검도 한국빌라 (www.dg.hankookvilla.co.kr)</a>
              </div>
              <!-- <div class="row no-label">
                <div class="content">바비큐장</div>
              </div>
              <div class="row no-label">
                <div class="content">수영장</div>
              </div>
              <div class="row no-label">
                <div class="content">세미나실</div>
              </div> -->
            </div>
          </div>
          <div id="map"></div>
        </div>

        <div class="wrap-memeber-benefit">
          <div class="benefits-contents">
            <div class="text-area">
              <h3 class="common-title">
                THE LINK H 멤버십 혜택
              </h3>
              <a href="join.html">멤버십 가입 &nbsp;&#62;</a>
            </div>

            <ul class="contents">
              <li class="benefit01 destination-benefit">
                <div class="destination-benefit-img-area">
                  <img src="../static/images/destinations/benefit-donggeomdo-01.png" th:src="@{/images/destinations/benefit-sanghwawon-01.png}" alt="상화원한국빌라">
                </div>
                <div class="destination-benefit-text-area">
                  <h3>휴양시설 할인</h3>
                  <p>◎ 객실 우대 할인</p>
                  <p class="sub-txt">
                    - 특별 회원가 제공 예정
                  </p>
                </div>
              </li>
              <li class="benefit02 destination-benefit">
                <div class="destination-benefit-img-area">
                  <img src="../static/images/destinations/benefit-donggeomdo-02.png" th:src="@{/images/destinations/benefit-donggeomdo-02.png}" alt="상화원웨딩대관">
                </div>
                <div class="destination-benefit-text-area">
                  <h3>대관료 할인</h3>
                  <p>◎ 각종 행사 우대 할인</p>
                  <p class="sub-txt">
                    - 워크숍, 세미나, 워케이션 등 대관료 30% 할인
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li id="anmyeondo" class="tab-content">
        <div class="destination-top">
          <div class="text-area">
            <h3 class="common-title">
              서해 안면도의 작은 섬, 황도의 멋진 조망을 가진 "안면도 한국빌라"
            </h3>
            <p class="common-desc">
              <!-- 인천 강화군 동검도, 섬 끝자락에 위치한 동검도 한국빌라는 시시각각 변하는 서해 풍경을 배경삼아 숙박, 워크숍, 워케이션을 즐기실 수 있습니다. -->
            </p>
          </div>
          <div class="destination-main-img">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../static/images/destinations/anmyeondo-slide-img-01.png" th:src="@{/images/destinations/anmyeondo-slide-img-01.png}" alt="">
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

        <div class="wrap-destination-info">
          <div class="wrap-table">
            <h3 class="row common-title">안면도 한국빌라(황도)</h3>
            <div class="info-table">
              <div class="row">
                <div class="label">위치</div>
                <div class="content">충남 태안군 안면읍 풍어제길 44-71</div>
              </div>
              <div class="row">
                <div class="label">기타</div>
                <div class="content">리모델링 공사 예정(숙박시설, 바비큐장, 카페)</div>
              </div>
            </div>
          </div>
          <!-- <div id="map"></div> -->
        </div>
      </li>


      <li id="jeju" class="tab-content">
        <div class="destination-top">
          <div class="text-area">
            <h3 class="common-title">
              오름의 여왕, '다랑쉬오름(월랑봉)'이 바로 보이는 용암정원
            </h3>
            <p class="common-desc">
              <!-- 인천 강화군 동검도, 섬 끝자락에 위치한 동검도 한국빌라는 시시각각 변하는 서해 풍경을 배경삼아 숙박, 워크숍, 워케이션을 즐기실 수 있습니다. -->
            </p>
          </div>
          <div class="destination-main-img">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../static/images/destinations/jejudo-slide-img-01.png" th:src="@{/images/destinations/jejudo-slide-img-01.png}" alt="">
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

        <div class="wrap-destination-info">
          <div class="wrap-table">
            <h3 class="row common-title">제주 상화원</h3>
            <div class="info-table">
              <div class="row">
                <div class="label">위치</div>
                <div class="content">제주시 구좌읍 세회리 (10만평 규모)</div>
              </div>
              <div class="row">
                <div class="label">기타</div>
                <div class="content">조성 예정(오프로드 라이드, 체육시설, 산책로 등)</div>
              </div>
            </div>
          </div>
          <!-- <div id="map"></div> -->
        </div>
      </li>


      <li id="jodo" class="tab-content">
        <div class="destination-top">
          <div class="text-area">
            <h3 class="common-title">
              대한민국 제1호 국립해양정원으로 지정된 가로림만에 위치한 섬으로 썰물에 바닷길이 열리는 천혜의 원시 자연풍광
            </h3>
            <p class="common-desc">
              <!-- 인천 강화군 동검도, 섬 끝자락에 위치한 동검도 한국빌라는 시시각각 변하는 서해 풍경을 배경삼아 숙박, 워크숍, 워케이션을 즐기실 수 있습니다. -->
            </p>
          </div>
          <div class="destination-main-img">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../static/images/destinations/jodo-slide-img-01.png" th:src="@{/images/destinations/jodo-slide-img-01.png}" alt="">
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

        <div class="wrap-destination-info">
          <div class="wrap-table">
            <h3 class="row common-title">조도 상화원</h3>
            <div class="info-table">
              <div class="row">
                <div class="label">위치</div>
                <div class="content">충남 서산시 대산읍 웅도2길 151 (2.7만평 규모)</div>
              </div>
              <div class="row">
                <div class="label">기타</div>
                <div class="content">조성 예정(산책로 등)</div>
              </div>
            </div>
          </div>
          <!-- <div id="map"></div> -->
        </div>
      </li>
    </ul>
  </main>


  <!-- footer -->
  <div data-include="fragments/footer.html" th:replace="~{fragments/footer :: footer}"></div>


  <script>
    window.addEventListener('DOMContentLoaded', () => {
      includeHTML(initCommonDesign);
    });
  </script>
</body>
</html>