<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한국빌딩 네트워킹 서비스 플랫폼 - THE LINK H</title>

  <!-- css -->
  <link rel="preload" href="../static/assets/font/Pretendard-Regular.woff2" th:href="@{/assets/font/Pretendard-Regular.woff2}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../static/assets/font/Pretendard-Bold.woff2" th:href="@{/assets/font/Pretendard-Bold.woff2}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
  <link rel="stylesheet" href="../static/assets/js/swiper-bundle.min.css" th:href="@{/assets/js/swiper-bundle.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>


  <script src="../static/assets/js/jquery-3.7.1.min.js" th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
  <script src="../static/assets/js/swiper-element-bundle.min.js" th:src="@{/assets/js/swiper-element-bundle.min.js}"></script>
  <script src="../static/assets/js/gsap.min.js" th:src="@{/assets/js/gsap.min.js}"></script>
  <script src="../static/assets/js/ScrollTrigger.min.js" th:src="@{/assets/js/ScrollTrigger.min.js}"></script>
  <script src="../static/js/index.js" th:src="@{/js/index.js}" defer></script>
  <script src="../static/js/common.js" th:src="@{/js/common.js}" defer></script>
</head>

<body class="main-page">
  <section id="intro-screen">
    <h2 class="intro-txt font-en">FROM BUSINESS TO BEYOND</h2>
    <h1 class="logo-ani"><img src="../static/images/splash/thelink.png" th:src="@{/images/splash/thelink.png}" alt="로고"></h1>
  </section>

  <!-- header -->
  <div data-include="fragments/header.html" th:replace="~{fragments/header :: header}"></div>


  <!-- section -->
  <main id="section">
    <!-- main banner -->
    <section class="main-banner">
      <swiper-container class="mainSwiper" effect="fade" speed="600"  pagination="true" pagination-clickable="true"  space-between="0"
          centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
          <swiper-slide class="bg1 slide">
            <div class="ban-txt">
              <h2 class="m-banner-txt font-en">
                Refining the Rhythm of Your Life : From Business to Beyond
              </h2>
              <img src="../static/images/index/thelink.png" th:src="@{/images/index/thelink.png}" alt="theLink로고">
            </div>
          </swiper-slide>
          <swiper-slide class="bg2 slide">
            <div class="ban-txt">
              <h2 class="m-banner-txt font-en">
                Refining the Rhythm of Your Life : From Business to Beyond
              </h2>
              <img src="../static/images/index/thelink.png" th:src="@{/images/index/thelink.png}" alt="theLink로고">
            </div>
          </swiper-slide>
          <swiper-slide class="bg3 slide">
            <div class="ban-txt">
                <h2 class="m-banner-txt font-en">
                  Refining the Rhythm of Your Life : From Business to Beyond
                </h2>
                <img src="../static/images/index/thelink.png" th:src="@{/images/index/thelink.png}" alt="theLink로고">
            </div>
          </swiper-slide>
          <swiper-slide class="bg4 slide">
            <div class="ban-txt">
                <h2 class="m-banner-txt font-en">
                  Refining the Rhythm of Your Life : From Business to Beyond
                </h2>
                <img src="../static/images/index/thelink.png" th:src="@{/images/index/thelink.png}" alt="theLink로고">
            </div>
          </swiper-slide>
          <!-- <swiper-slide class="bg5 slide">
            <div class="ban-txt">
                <h2 class="m-banner-txt font-en">
                  Refining the Rhythm of Your Life : From Business to Beyond
                </h2>
                <img src="../static/images/index/thelink.png" th:src="@{/images/index/thelink.png}" alt="theLink로고">
            </div>
          </swiper-slide> -->
      </swiper-container>
    </section>

    <!-- brand story -->
    <section class="brand-story">
      <div class="brand-txt">
        <div class="brand-title">
          <h2 class="main-title font-en">
            BRAND STORY
          </h2>
          <p class="sub-title font-en">
            THE LINK&nbsp;:&nbsp;FROM BUSINESS TO BEYOND
          </p>
        </div>
        <div class="brand-desc">
          <h3 class="main-desc">
            비즈니스 업무공간을 넘어, 삶의 질 향상을 위한
            <b>'커넥팅 플랫폼'</b>
          </h3>
          <!-- <h3 class="main-desc">
            유기적으로 잇는 <b>'커넥팅 플랫폼'</b>
          </h3> -->
          <p class="sub-desc">
            제한된 임차 공간의 개념이 아닌, 연계된 한국빌딩과 휴양시설의 네트워킹을 통해 입주사에게 폭넓은 다양한 혜택과 문화∙휴양시설의 활용으로 쾌적한 비즈니스 환경과 여가를 함께 지원하고자 합니다.<br>LINK된 한국빌딩의 입주사간 상호 협력과 비즈니스 확장으로 지속 가능한 성장을 함께하는 커뮤니티를 지향합니다.
          </p>
        </div>
      </div>

      <div class="brand-img">
        <img src="../static/images/header/thelink_w.png" th:src="@{/images/header/thelink_w.png}" alt="브랜드로고">
        <span class="bg-area"></span>
      </div>
    </section>

    <!-- our building -->
    <section class="our-building">
      <div class="title build-tit">
        <h1 class="sect-tit font-en">
          OUR BUILDINGS
        </h1>
        <p class="sect-desc">
          쾌적하고 안전한 업무환경을 위한 시설관리로 입주사와 함께 성장하는 한국빌딩
        </p>
      </div>
      <ul class="buildings">
        <li class="building1 building">
          <div class="txt">
            <h3>청계 한국빌딩</h3>
            <!-- <p class="building-desc">
              도시의 흐름을 담은 비지니스 공간
            </p> -->
          </div>
          <a class="view-more" href="buildings.html?tab=cheonggye">자세히 보기</a>
        </li>
        <li class="building2 building">
          <div class="txt">
            <h3>을지 한국빌딩</h3>
            <!-- <p class="building-desc">
              일상의 중심이 되는 업무 공간
            </p> -->
          </div>
          <a class="view-more" href="buildings.html?tab=eulji">자세히 보기</a>
        </li>
        <li class="building4 building">
          <div class="txt">
            <h3>소공 한국빌딩</h3>
            <!-- <p class="building-desc">
              신뢰와 가치를 담은 비지니스 공간
            </p> -->
          </div>
          <a class="view-more" href="buildings.html?tab=sogong">자세히 보기</a>
        </li>
        <li class="building3 building">
          <div class="txt">
            <h3>종로 한국빌딩</h3>
            <!-- <p class="building-desc">
              지속 가능한 가치를 만드는 공간
            </p> -->
          </div>
          <a class="view-more" href="buildings.html?tab=jongro">자세히 보기</a>
        </li>
      </ul>
    </section>

    <!-- membership benefit -->
    <section class="membership">
      <div class="title membership-tit">
        <h1 class="sect-tit font-en">
          MEMBERSHIP BENEFITS
        </h1>
        <p class="sect-desc">
          THE LINK 멤버십 회원을 위한 혜택을 만나보세요.
        </p>
      </div>
      <ul class="benefits">
        <li class="benefit1 benefit">
          <div class="benefit-img-area">
              <a href="#">
                  <img src="../static/images/index/benefit-01.png" th:src="@{/images/index/benefit-01.png}" alt="상화원">
              </a>
          </div>
          <div class="benefit-txt-area">
              <a href="#">
                  <h2>상화원/한국빌라 할인</h2>
                  <p>멤버십 회원만을 위한 특별한 혜택을 제공합니다.</p>
              </a>
          </div>
        </li>
        <li class="benefit2 benefit">
            <div class="benefit-img-area">
                <a href="#">
                    <img src="../static/images/index/benefit-02.png" th:src="@{/images/index/benefit-02.png}" alt="공유라운지">
                </a>
            </div>
            <div class="benefit-txt-area">
                <a href="#">
                    <h2>공유 라운지 (클럽 한국빌딩)</h2>
                    <p>클럽 한국빌딩의 휴게공간에서 무료 커피 및 음료를 자유롭게 이용하실 수 있습니다.</p>
                </a>
            </div>
        </li>
        <li class="benefit3 benefit">
            <div class="benefit-img-area">
                <a href="#">
                    <img src="../static/images/index/benefit-03.png" th:src="@{/images/index/benefit-03.png}" alt="카페할인">
                </a>
            </div>
            <div class="benefit-txt-area">
                <a href="#">
                    <h2>F&B 등 할인혜택</h2>
                    <p>F&B 등 제휴 입주사의 다양한 할인 혜택을 제공합니다.</p>
                </a>
            </div>
        </li>
        <li class="benefit4 benefit">
            <div class="benefit-img-area">
                <a href="#">
                    <img src="../static/images/index/benefit-04.png" th:src="@{/images/index/benefit-04.png}" alt="발렛서비스">
                </a>
            </div>
            <div class="benefit-txt-area">
                <a href="#">
                    <h2>주차 및 발레파킹 서비스</h2>
                    <p>편리한 주차 및 발레파킹 서비스를 통해 시간과 편리함을 제공드립니다.</p>
                </a>
            </div>
        </li>
      </ul>  
    </section>


    <!-- 상화원/동검도 -->
    <section class="rest">
      <div class="rest-bnr">
        <div class="rs-bnr-txt-area">
          <em class="font-en">FIRST ACCESS TO RETREAT</em>
          <p>THE LINK H 멤버십을 위한 상화원/동검도 한국빌라</p>
          <a class="reserv-btn" href="exper_stay.html">자세히 보기</a>
        </div>
      </div>
      <div class="rest-contents">
        <div class="title rest-tit">
          <h1 class="sect-tit font-en">
            YOUR RETREAT
          </h1>
          <p class="sect-desc">
            일상 속의 쉼은 늘 부족하지만,<br>이곳에 들어서는 순간,<br>온전한 나만의 휴식이 시작됩니다.
          </p>
        </div>
        <swiper-container class="swiper-rest" init="false" pagination-type="none" space-between="20" style="--swiper-theme-color: #10365C;
            --swiper-pagination-progressbar-bg-color:#bbb; 
            " centered-slides="false"   slides-offset-before="0"  slides-offset-after="0"  loop="true" autoplay-delay="4000" autoplay-disable-on-interaction="false">
          <!-- <swiper-slide class="dummy-slide" aria-hidden="true" ></swiper-slide> -->
          <swiper-slide class="cont-slide sd1">
            <a href="destinations.html?tab=jukdo">
              <div class="slide-img-area"></div>
              <div class="slide-txt-area">
                <div class="slide-title-text-wrap">
                  <div class="slide-tit-area">
                    <p class="slide-sub-tit">
                      자연을 간직한 비밀정원
                    </p>
                    <h3 class="slide-main-tit">상화원</h3>
                  </div>
                  <!-- <a href="reserv_stay.html" class="reservation-btn">예약하기</a> -->
                </div>
                <div class="slide-sub-area">
                  <p class="slide-sub-desc">
                    '상화원'은 섬 전체가 하나의 정원으로서<br> 천혜의 섬, 죽도가 지닌 자연미를 그대로 살린 한국식 전통정원
                  </p>
                </div>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide class="cont-slide sd2">
            <a href="destinations.html?tab=donggeomdo">
              <div class="slide-img-area"></div>
              <div class="slide-txt-area">
                <div class="slide-title-text-wrap">
                  <div class="slide-tit-area">
                    <p class="slide-sub-tit">
                      당신의 하루를 더 행복하게
                    </p>
                    <h3 class="slide-main-tit">동검도 한국빌라</h3>
                  </div>
                  <!-- <a href="#" class="reservation-btn">예약하기</a> -->
                </div>
                <div class="slide-sub-area">
                  <p class="slide-sub-desc">
                    석양이 머무르는 풍경과 함께 즐기는<br>
                    아주 평범하고도 특별한 날의 추억
                  </p>
                </div>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide class="cont-slide sd1">
            <a href="">
              <div class="slide-img-area"></div>
              <div class="slide-txt-area">
                <div class="slide-title-text-wrap">
                  <div class="slide-tit-area">
                    <p class="slide-sub-tit">
                      자연을 간직한 비밀정원
                    </p>
                    <h3 class="slide-main-tit">상화원</h3>
                  </div>
                  <!-- <a href="reserv_stay.html" class="reservation-btn">예약하기</a> -->
                </div>
                <div class="slide-sub-area">
                  <p class="slide-sub-desc">
                    '상화원'은 섬 전체가 하나의 정원으로서<br> 천혜의 섬, 죽도가 지닌 자연미를 그대로 살린 한국식 전통정원
                  </p>
                </div>
              </div>
            </a>
          </swiper-slide>
          <swiper-slide class="cont-slide sd2">
            <a href="">
              <div class="slide-img-area"></div>
              <div class="slide-txt-area">
                <div class="slide-title-text-wrap">
                  <div class="slide-tit-area">
                    <p class="slide-sub-tit">
                      당신의 하루를 더 행복하게
                    </p>
                    <h3 class="slide-main-tit">동검도 한국빌라</h3>
                  </div>
                  <!-- <a href="#" class="reservation-btn">예약하기</a> -->
                </div>
                <div class="slide-sub-area">
                  <p class="slide-sub-desc">
                    석양이 머무르는 풍경과 함께 즐기는<br>
                    아주 평범하고도 특별한 날의 추억
                  </p>
                </div>
              </div>
            </a>
          </swiper-slide>
        </swiper-container>
      </div>
    </section>

    <!-- 회원가입배너 -->
    <section class="join-banner">
      <div class="join-txt">
        <h3>입주사를 위한 전용 멤버십 혜택, 지금 바로 만나보세요.</h3>
        <a class="join-btn" href="about_membership.html">멤버십 혜택 보기</a>
      </div>
    </section>

  </main>

<!-- footer -->
  <div data-include="fragments/footer.html" th:replace="~{fragments/footer :: footer}"></div>

  
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      includeHTML(initCommonDesign);
    });
  </script>
</body>
</html>